Model/src/mx/com/sky/sel/proxyclients/soainterface/consultappvcontratados/RuntimeFaultMessage.xsd

<xsd:schema targetNamespace="http://www.sky.com.mx/EnterpriseObjects/Sel/Common/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:seccom="http://www.sky.com.mx/EnterpriseObjects/Sel/Common/V1" elementFormDefault="qualified">
    <xsd:element name="RuntimeFaultMessage" type="seccom:RuntimeFaultMessageType"/>
    <xsd:complexType name="RuntimeFaultMessageType">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="summary" type="xsd:string"/>
            <xsd:element name="detail" type="xsd:string"/>
            <xsd:element name="Sistema" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
