Model/src/mx/com/sky/sel/proxyclients/pagwebss/batchaltasolicitudessw/datosAuxiliares.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="datosAux" type="datosAuxType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="datosAuxType">
    <xsd:sequence>
      <xsd:element name="BPEL_ID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>